[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = {extras = ["security"]}
lxml = "*"
encrypt = {git = "https://github.com/harvard-nrg/encrypt.git", editable = true}
"e1839a8" = {path = ".", editable = true}
httpretty = "*"
vcrpy = "*"
pytest = "*"
