[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = {extras = ["security"]}
lxml = "*"
vcrpy = "*"
pytest = "*"
encrypt = {git = "https://github.com/harvard-nrg/encrypt.git"}
mano = {path = ".", editable = true}
